.pos .pos-content {
    .price-tag {
        background: #00abcd;
        border-radius: 12px;
    }
    .sale_margin {
        top: 21px;
        line-height: 15px;
        right: 2px;
        background: #CDDC39;
        position: absolute;
        border-radius: 10px;
        padding: 0px 5px;
    }
}

